In [19]:
import pandas as pd
from copy import deepcopy
from sklearn.cluster import KMeans
from sklearn.model_selection import train_test_split

In [20]:
df = pd.read_csv("flow.csv", index_col=0)
df.head()

    m_B  t_RT1  T_drawH   m_C  t_RT2  T_methyl  yield_trans  yield  impurity
1  2.66   8.45    -39.0  3.15  121.2       -30        64.08  54.65      9.43
2  2.65   4.23    -39.0  3.15  121.2       -30        87.51  74.50     13.01
3  2.66   2.07    -39.0  3.15  121.2       -30        88.03  72.93     15.10
4  2.13   4.81    -39.0  3.15  121.2       -30        63.26  48.80     14.46
5  3.13   3.70    -39.0  3.15  121.2       -30        91.06  71.73     19.33

In [21]:
df_single = df.drop(["yield_trans", "impurity"], axis=1)
df_single.rename({"yield": "target"}, inplace=True, axis=1)

df_moo = deepcopy(df)
df_moo["selectivity"] = df["impurity"].apply(lambda x: 100 - x)
df_moo.drop(["yield_trans", "impurity"], axis=1, inplace=True)

In [22]:
def split_df(df, data_path):
    _df = deepcopy(df)
    _df.reset_index(drop=True, inplace=True)
    test_idx = [3, 6, 12, 26]
    test_set = _df.iloc[test_idx]
    train_set = _df.drop(test_idx)
    train_set.to_csv(f"{data_path}/train.csv", index=None)
    test_set.to_csv(f"{data_path}/test.csv", index=None)

In [24]:
split_df(df_single, "yield")
split_df(df_moo, "moo")